@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 20 14.3% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;
		--primary: 24.6 95% 53.1%;
		--primary-foreground: 60 9.1% 97.8%;
		--secondary: 60 4.8% 95.9%;
		--secondary-foreground: 24 9.8% 10%;
		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;
		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 20 5.9% 90%;
		--input: 20 5.9% 90%;
		--ring: 24.6 95% 53.1%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@keyframes upload-line {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(400%);
	}
}

.animate-upload-line1 {
	animation: upload-line 0.3s infinite linear;
}

.animate-upload-line2 {
	animation: upload-line 0.3s infinite 150ms linear;
}
.animate-upload-line3 {
	animation: upload-line 0.3s infinite 300ms linear;
}
.animate-upload-line4 {
	animation: upload-line 0.3s infinite 150ms linear;
}
.animate-upload-line5 {
	animation: upload-line 0.3s infinite linear;
}
.animate-upload-line6 {
	animation: upload-line 0.3s infinite 350ms linear;
}
.animate-upload-line7 {
	animation: upload-line 0.3s infinite 100ms linear;
}
.animate-upload-line8 {
	animation: upload-line 0.3s infinite 200ms linear;
}
.animate-upload-line9 {
	animation: upload-line 0.3s infinite 350ms linear;
}

.ReactModalPortal > div {
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
	align-items: center;
	display: flex;
	justify-content: center;
	transition: opacity 0.2s ease-in-out;
	z-index: 10;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
	opacity: 0;
}

.modal-background {
	background-color: rgba(var(--background), 0.8);
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
	backdrop-filter: blur(4px);
}
