@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

.slick-dots .slick-active div div {
	background-color: white;
}

@layer components {
	.main-slider-container {
		max-height: calc(100vh - 150px);
	}
}

@layer base {
	:root {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;
		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;
		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;
		--primary: 210 20% 98%;
		--primary-foreground: 220.9 39.3% 11%;
		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;
		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;
		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;
		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;
		--ring: 216 12.2% 83.9%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@keyframes upload-line {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(400%);
	}
}

.animate-upload-line1 {
	animation: upload-line 0.3s infinite linear;
}

.animate-upload-line2 {
	animation: upload-line 0.3s infinite 150ms linear;
}
.animate-upload-line3 {
	animation: upload-line 0.3s infinite 300ms linear;
}
.animate-upload-line4 {
	animation: upload-line 0.3s infinite 150ms linear;
}
.animate-upload-line5 {
	animation: upload-line 0.3s infinite linear;
}
.animate-upload-line6 {
	animation: upload-line 0.3s infinite 350ms linear;
}
.animate-upload-line7 {
	animation: upload-line 0.3s infinite 100ms linear;
}
.animate-upload-line8 {
	animation: upload-line 0.3s infinite 200ms linear;
}
.animate-upload-line9 {
	animation: upload-line 0.3s infinite 350ms linear;
}

.ReactModalPortal > div {
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
	align-items: center;
	display: flex;
	justify-content: center;
	transition: opacity 0.2s ease-in-out;
	z-index: 10;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
	opacity: 0;
}

.modal-background {
	background-color: rgba(var(--background), 0.8);
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
	backdrop-filter: blur(4px);
}
